<!doctype html>
<html lang="{{ _locale}}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/favicon.ico">
    <title>InnovaWEB</title>
    {#TODO ajouter ma description#}
    <meta name="description" content="...">
    <meta name="author" content="InnovaWEB">
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/vendor/fontawesome/fa-svg-with-js.css">
    <link rel="stylesheet" href="/css/common.css">
    {#start_favicon#}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#9f00a7">
    <meta name="theme-color" content="#ffffff">
    {#end_favicon#}
</head>
<body>
<header>
    <nav class="navbar fixed-top navbar-expand-sm navbar-light bg-light">
        <div class="container">
            <a href="/" class="navbar-brand">Innovaweb</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapsed" aria-controls="navbar-collapsed" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbar-collapsed">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ml-auto">
                        <a class="btn btn-outline-success" href="tel:0032484198138">
                            <i class="fa fa-phone"></i>&ensp;+32 484 198 138
                        </a>
                        <a class="btn btn-outline-secondary" href="mailto:contact@innovaweb.be">
                            <i class="far fa-envelope-open"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main role="main" class="container main-container">
    <div class="row">
        <div class="col-12">
            <h1 class="mb-5 text-center">InnovaWEB</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 text-center col-lg-3 col-sm-8">
            <img src="img/icon_fr.png" alt="language_fr" width="70" class="mb-4">
            <p class="text-justify-center">
                Ce site internet n'est plus disponbible.
                <strong>Innova WEB</strong> reste à votre entiére disposition et nous sommes joignable dés à
                présent.
            </p>
        </div>
        <div class="col-12 text-center col-lg-3 col-sm-8">
            <img src="img/icon_nl.png" alt="language_nl" width="70" class="mb-4">
            <p class="text-justify-center">
                Deze website is niet langer beschikbaar. <strong> Innova WEB </strong> blijft tot uw beschikking en we
                zijn te bereiken op aanwezig is.
            </p>
        </div>
        <div class="col-12 text-center col-lg-3 col-sm-8">
            <img src="img/icon_en.png" alt="language_en" width="70" class="mb-4">
            <p class="text-justify-center">
                This website is no longer available. <strong> Innova WEB </strong> remains at your
                disposal and we can be reached at present.
            </p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-lg-3 col-sm-8">
            <p class="text-center text-info">
                <small>Ce site est une création de InnovaWEB</small>
            </p>
        </div>
        <div class="col-12 col-lg-3 col-sm-8">
            <p class="text-center text-info">
                <small>Deze website is een creatie van InnovaWEB</small>
            </p>
        </div>
        <div class="col-12 col-lg-3 col-sm-8">
            <p class="text-center text-info">
                <small>This website is a creation of InnovaWEB</small>
            </p>
        </div>
    </div>
    <div class="row justify-content-center mt-5 ">
        <div class="col-12 mb-3 ">
            <div class="card text-center h-100">
                <div class="card-body">
                    <h5 class="mb-3">InnovaWEB</h5>
                    <p>
                        <i class="fa fa-phone"></i>&ensp;<a href="tel:0032484198138">0032 484 198 138</a>
                        <br>
                        <i class="fa fa-at"></i>&ensp;<a href="mailto:contact@innovaweb.be">contact@innovaweb.be</a>
                        <br>
                        <i class="fab fa-facebook"></i>
                        <a href="https://www.facebook.com/innovaweb.be" target="_blank">InnovaWEB</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>
<script defer src="/vendor/jquery/jquery-3.3.1.slim.min.js"></script>
<script defer src="/vendor/fontawesome/fontawesome-all.js"></script>
<script defer src="/vendor/bootstrap/js/bootstrap.js"></script>
</body>
</html>
