<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>The HTML5 Herald</title>
    <meta name="description" content="Salle de location Saphir à Bruxelles">
    <meta name="author" content="InnovaWEB">
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/vendor/fontawesome/fa-svg-with-js.css">


</head>
<body>
{#<script src="js/scripts.js"></script>#}
</body>
<script defer src="/vendor/fontawesome/fontawesome-all.js"></script>
<script defer src="/vendor/bootstrap/bootstrap.js"></script>
</html>